:root {
  // color
  --board-background-color: #212a3e;
  --board-sidebar-header-color: #313b51;
  --board-add-text-color: #89c4e1;
  --text-color-primary: #fff;
  --add-task-background-color: #9ba4b5;

  // font
  --main-font: "Roboto", sans-serif;
}
